---
import Button from "../../Button.astro";

import Frame from "../../../assets/landing_page/frame.png";
import Create from "../../../assets/landing_page/create.svg";
import Anna from "../../../assets/landing_page/anna.svg";
import Template from "../../../assets/landing_page/template.svg";
import Cup from "../../../assets/landing_page/cup.png";
import Forbes from "../../../assets/landing_page/forbes.png";
// @ts-ignore
import { Image } from "astro:assets";
---

<div class="flex items-center justify-center flex-col px-4 lg:px-24">
  <div class="w-full lg:max-w-[897px] mt-14 min-h-[113px] publicity">
    <div
      data-aos="fade-down"
      data-aos-duration="1500"
      class="flex items-center justify-between mt-3"
    >
      <div
        class="px-2 w-80 flex items-center justify-center gap-x-2 min-h-[90px] border-r border-[#B9B9B94D]"
      >
        <div
          class="w-[70px] h-[70px] bg-[#FD801B33] rounded-[39.087px] flex items-center justify-center"
        >
          <Image class="w-[40px]" src={Cup} alt="cup" />
        </div>
        <div>
          <p class="text-[12.295px] text-gray-25">Total Website Created</p>
          <h3 class="text-darkish font-bold text-[26.543px]">20M+</h3>
        </div>
      </div>
      <div
        class="px-2 min-h-[90px] flex items-center justify-center w-[16.7rem] border-r border-[#B9B9B94D]"
      >
        <Image
          class="w-[103.162px] h-[26.924px]"
          src={Forbes}
          alt="nominations"
        />
      </div>
      <div
        class="px-2 w-[16.7rem] min-h-[90px] flex items-center justify-center border-r border-[#B9B9B94D]"
      >
        <Image
          class="w-[103.162px] h-[26.924px]"
          src={Forbes}
          alt="nominations"
        />
      </div>
      <div
        class="px-2 w-[16.7rem] min-h-[90px] flex items-center justify-center"
      >
        <Image
          class="w-[103.162px] h-[26.924px]"
          src={Forbes}
          alt="nominations"
        />
      </div>
    </div>
  </div>
  <div
    data-aos="fade-down"
    data-aos-duration="1500"
    class="meet-anna w-full lg:max-w-[1396px] 2xl:max-w-[120rem] min-h-[544px] my-10 px-12
    lg:px-24 py-12 flex lg:flex-row items-center flex-col lg:justify-between"
  >
    <div data-aos="fade-left" data-aos-duration="1500" class="mb-7 lg:mb-0">
      <h2
        class="text-4xl lg:text-[42px] leading-7 lg:leading-[157%] text-center lg:text-justify"
      >
        <p class="lg:text-[56.524px]">
          Meet <span class="first-cha">A</span>
          <span class="second-cha">nna</span>
        </p>
         your artificial intelligent <br /> website assistant
      </h2>
      <Button
        class="w-[267.366px] mt-12 h-[73.756px] text-[#CCC] flex items-center justify-center gap-x-4 border-gradient"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="23"
          viewBox="0 0 18 23"
          fill="none"
        >
          <path
            d="M17.9078 7.4551C17.8237 7.26164 17.687 7.09562 17.5134 6.97585C17.3397 6.85607 17.1359 6.78734 16.9252 6.77742H11.7523L13.1867 1.42378C13.2324 1.25625 13.2388 1.08045 13.2055 0.910029C13.1722 0.739607 13.1001 0.579159 12.9947 0.441152C12.8895 0.304471 12.7543 0.193704 12.5997 0.117348C12.445 0.0409928 12.2749 0.00107701 12.1024 0.000662406H4.1962C3.94121 -0.00807197 3.69078 0.0697851 3.48568 0.221553C3.28059 0.373321 3.13293 0.590058 3.06674 0.836463L0.0397897 12.1311C-0.00589448 12.2986 -0.0123366 12.4744 0.0209641 12.6448C0.0542648 12.8152 0.126411 12.9757 0.231797 13.1137C0.338176 13.2519 0.475113 13.3636 0.631876 13.44C0.78864 13.5164 0.960971 13.5555 1.13537 13.5542H5.50638L3.46205 21.1667C3.39507 21.4122 3.41294 21.6731 3.51277 21.9072C3.61259 22.1412 3.78853 22.3347 4.01205 22.4563C4.23558 22.5778 4.49361 22.6204 4.74433 22.577C4.99505 22.5336 5.22377 22.4068 5.39343 22.2171L17.7045 8.66362C17.8511 8.5031 17.9483 8.3037 17.9844 8.08933C18.0204 7.87496 17.9938 7.65474 17.9078 7.4551ZM6.85043 17.2588L8.05895 12.741C8.10464 12.5734 8.11108 12.3976 8.07778 12.2272C8.04448 12.0568 7.97233 11.8963 7.86695 11.7583C7.76173 11.6217 7.6266 11.5109 7.47193 11.4345C7.31726 11.3582 7.14716 11.3183 6.97467 11.3178H2.63755L5.05459 2.25958H10.6228L9.18841 7.61322C9.14236 7.78383 9.13699 7.96287 9.17272 8.13594C9.20845 8.309 9.2843 8.47127 9.39415 8.60969C9.50401 8.74811 9.64482 8.85883 9.80525 8.93293C9.96568 9.00703 10.1413 9.04245 10.3179 9.03634H14.35L6.85043 17.2588Z"
            fill="white"></path>
        </svg>
        <span>See Anna In Action</span>
      </Button>
    </div>
    <div data-aos="fade-right" data-aos-duration="1500" class="linear-shade">
      <Image
        class="w-full max-w-xs lg:w-[500px] lg:max-w-full lg:min-h-[500px]"
        src={Frame}
        alt="frame"
      />
    </div>
  </div>
  <div
    class="steps w-full max-w-[1396px] 2xl:max-w-[120rem] min-h-[544px] my-10 px-12 lg:px-24 py-12 flex items-center justify-center flex-col gap-y-6"
  >
    <div class="flex items-center justify-center flex-col py-6 lg:py-3">
      <div
        data-aos="fade-down"
        data-aos-duration="1500"
        class="rounded-[192.033px] w-full h-full max-w-xs min-h-[55px] lg:min-w-[358.142px] lg:min-h-[70.362px] light-bg-primary flex items-center justify-center mb-5"
      >
        <h4 class="text-center text-md lg:text-[24.929px] text-primary">
          In Just 3 Simple Steps
        </h4>
      </div>

      <p
        data-aos="fade-right"
        data-aos-duration="1600"
        class="text-4xl lg:text-[55px] text-center font-bold lg:leading-[144%]"
      >
        You Can Now Create Beautiful <br /> Websites Using A.I
      </p>
    </div>

    <div class="my-8 lg:my-12">
      <div
        class="flex items-center flex-col lg:flex-row gap-y-6 lg:gap-y-0 gap-x-12 justify-between"
      >
        <div
          data-aos="fade-up"
          data-aos-duration="1500"
          class="service-card p-3"
        >
          <Image
            class="max-w-md h-[150px] lg:h-full lg:max-w-full w-full"
            src={Create}
            alt="create"
          />
          <h4 class="pb-4 lg:pb-6">Start <br /> From Scratch</h4>
        </div>
        <div
          data-aos="fade-up"
          data-aos-duration="1600"
          class="service-card p-3"
        >
          <Image
            class="max-w-md lg:max-w-full h-[150px] lg:h-full"
            src={Anna}
            alt="create"
          />
          <h4 class="pb-4 lg:pb-6">
            Create <br />
             With Anna
          </h4>
        </div>
        <div
          data-aos="fade-up"
          data-aos-duration="1700"
          class="service-card p-3"
        >
          <Image
            class="max-w-md lg:max-w-full h-[150px] lg:h-full"
            src={Template}
            alt="create"
          />
          <h4 class="pb-4 lg:pb-6">Start <br /> With a Template</h4>
        </div>
      </div>
    </div>
  </div>
</div>
